<!doctype html>
<html lang="en">
 <head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- CoreUI CSS -->
 <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css" crossorigin="anonymous">

 <title>CoreUI</title>
 <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <style>
   #map {
    position: relative;
   }
   .kvadratik {
    position: absolute;
   }
  </style>
 </head>
 <body class="c-app">
 <h1>Hello, world!</h1>
  <div id="map">
    <template>
     <div class="kvadratik" v-if="coordinates" v-for="coord in coordinates" :style="'top: ' + coord.coordinates.y * 64 + 'px;' + 'left: ' + coord.coordinates.x * 64 + 'px;'">
       {{coord.id}}
     </div>
   </template>
  </div>

 <!-- Optional JavaScript -->
 <!-- Popper.js first, then CoreUI JS -->
 <script src="https://unpkg.com/@popperjs/core@2"></script>
 <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
<script>
var map = new Vue({
  el: '#map',
  data(){
    return {
       coordinates: [],
    }
  },
  mounted(){
    let i = 0;
    for(x = 0; x <= 20; x++){
     for(y = 0; y <= 20; y++){
       let object = { id: i, coordinates: {x: x, y: y}};
       i++;
       this.coordinates.push(object);
     }
    }
  },
  
})
</script>
 </body>
</html>
